server:
  port: 8084

spring:
  application:
    name: wallet-transaction-service

  datasource:
    url: jdbc:postgresql://localhost:5432/transaction_db
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  flyway:

    enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
