server:
  port: 8083

spring:
  application:
    name: wallet-account-service

  datasource:
    url: jdbc:postgresql://localhost:5432/account_db
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
