server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/user_db
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true

  application:
    name: wallet-user-service

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
